body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile .avatar img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .profile h3 {
    color: #777;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .details {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .details ul {
    list-style: none;
    padding: 0;
  }
  
  .details ul li {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-links
  